* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  margin-top: -10px;
  position: sticky;
  z-index: 100;
  color: #fff;
  
}
.header_left img {
  width: 70px;
  height: 70px;
  padding-left: 20px;
  margin-top: 3px;
}
.header_right li {
  list-style: none;
  display: inline;
}
.header_right li a {
  margin-right: 40px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  transition: transform 100ms ease-in;
}
.header_right a:hover {
  color: rgb(189, 226, 226);
  transform: scale(1.07);
}
