.slider {
  height: 100vh;
  width: 100%;
  margin-top: -83px;
}

.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
}

.slider .list .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 6%, transparent);
}

.slider .list .item .content {
  position: absolute;
  left: 10%;
  top: 40%;
  width: 500px;
  max-width: 100%;
  z-index: 1;
  color: #fff;
}

.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}

.slider .list .item .content h2 {
  font-size: 50px;
  margin: 0;
}

.slider .list .item .content p {
  font-size: 25px;
  color: rgb(233, 185, 63);
}

.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p,
.slider .list .item.active p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
  animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
  animation-duration: 1.3s;
}

.arrows {
  position: absolute;
  top: 90%;
  left: 45%;
  z-index: 100;
}

.arrows button {
  background-color: #ffffff79;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  margin: 20px;
  border-radius: 20px;
  font-size: x-large;
  color: #000;
  transition: 0.5s;
}

.arrows button:hover {
  background-color: #eee;
  color: black;
}

.thumbnail {
  position: absolute;
  bottom: 50px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 0px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}

.thumbnail::-webkit-scrollbar {
  width: 0;
}

.thumbnail .item {
  width: 200px;
  height: 220px;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.thumbnail .item.active {
  filter: brightness(1.5);
}

.thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 10px;
}

@media screen and (max-width: 678px) {
  .thumbnail {
    justify-content: start;
  }

  .slider .list .item .content h2 {
    font-size: 30px;
  }

  .slider .list .item .content p {
    font-size: 15px;
    width: fit-content;
  }

  .arrows {
    top: 80%;
  }
}
